<html>

<head>
  <title>Astroid: Long-running Example</title>
</head>

<body>

	<h4 style="margin-top: 100px; text-align: center">
		<%= anchor "Simulate a background job", route(:job) %>
	</h4>

</body>

</html>